body {
	background: radial-gradient(top, ellipse, #fff 0%, #bbddee 100%);
	padding: 50px 100px;
	height: 500px;
}

.wrapper {
	width: 500px;
	margin: 30px auto;
}

label {
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
}

h2 {
	color: #666;
	text-align: center;
	width: 560px;
	margin: 0 auto;
	line-height: 1.2em
}